# Supervised Learning - part 2

- Only the best model, all data.

In [1]:
import pandas as pd
import numpy as np
from ast import literal_eval
from sklearn.feature_extraction.text import CountVectorizer
from wordcloud import WordCloud
import matplotlib.pyplot as plt

from gensim.corpora import Dictionary
from gensim.models import CoherenceModel

from sklearn import naive_bayes, svm
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer, HashingVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, classification_report, make_scorer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import GridSearchCV, KFold, cross_val_score
from imblearn.over_sampling import RandomOverSampler

from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegression

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
RANDOM_STATE = 42

In [4]:
lemmas = pd.read_csv('../data/lemmas.csv')
lemmas

,book_poem_id,lemmas
0,1_0001-0000-0000-0001-0000,"[('tvůj', 'P'), ('loď', 'N'), ('jít', 'V'), ('..."
1,1_0001-0001-0000-0001-0000,"[('už', 'D'), ('míza', 'N'), ('naplňovat', 'V'..."
2,1_0001-0001-0000-0002-0000,"[('už', 'D'), ('jaro', 'N'), ('výskat', 'V'), ..."
3,1_0001-0001-0000-0003-0000,"[('teď', 'D'), ('slunce', 'N'), ('projít', 'V'..."
4,1_0001-0001-0000-0004-0000,"[('skála', 'N'), ('nebetyčný', 'A'), ('shluk',..."
...,...,...
66423,1689_0001-0000-0000-0026-0000,"[('u', 'R'), ('altán', 'N'), ('bílý', 'A'), ('..."
66424,1689_0001-0000-0000-0027-0000,"[('nad', 'R'), ('tůně', 'N'), ('honit', 'V'), ..."
66425,1689_0001-0000-0000-0028-0000,"[('podle', 'R'), ('cesta', 'N'), ('hloh', 'N')..."
66426,1689_0001-0000-0000-0029-0000,"[('na', 'R'), ('lesní', 'A'), ('stráň', 'N'), ..."
66427,1689_0001-0000-0000-0030-0000,"[('lučina', 'N'), ('potůček', 'N'), ('ubíhat',..."

In [5]:
annotations = pd.read_csv('../data/poem_value_save.csv')
annotations

,book_poem_id,poem_id,book_id,id_topic,value,name
0,2_0001-0000-0000-0005-0000,0001-0000-0000-0005-0000,2,1,-1,Dětství/mateřství/rodičovství
1,2_0001-0000-0000-0005-0000,0001-0000-0000-0005-0000,2,2,-1,Domov
2,2_0001-0000-0000-0005-0000,0001-0000-0000-0005-0000,2,3,-1,Exotika/cestovatelství
3,2_0001-0000-0000-0005-0000,0001-0000-0000-0005-0000,2,4,-1,Chudoba/útisk
4,2_0001-0000-0000-0005-0000,0001-0000-0000-0005-0000,2,9,-1,Náboženství/víra
...,...,...,...,...,...,...
27154,1675_0001-0009-0000-0015-0002,0001-0009-0000-0015-0002,1675,26,-1,Město
27155,1675_0001-0009-0000-0015-0002,0001-0009-0000-0015-0002,1675,27,-1,Venkov
27156,1675_0001-0009-0000-0015-0002,0001-0009-0000-0015-0002,1675,28,-1,Národ/vlast
27157,1675_0001-0009-0000-0015-0002,0001-0009-0000-0015-0002,1675,29,-1,Historie
27158,1675_0001-0009-0000-0015-0002,0001-0009-0000-0015-0002,1675,30,-1,Sebereflexe/vnitřní život

In [6]:
annotations_1 = annotations[annotations.value == 1].reset_index(drop=True)
annotations_1

,book_poem_id,poem_id,book_id,id_topic,value,name
0,2_0001-0000-0000-0005-0000,0001-0000-0000-0005-0000,2,13,1,Práce
1,2_0001-0000-0000-0008-0000,0001-0000-0000-0008-0000,2,9,1,Náboženství/víra
2,3_0001-0003-0000-0012-0000,0001-0003-0000-0012-0000,3,9,1,Náboženství/víra
3,7_0001-0000-0000-0065-0000,0001-0000-0000-0065-0000,7,20,1,"Umění/literatura, poezie/tvorba"
4,8_0001-0000-0000-0004-0000,0001-0000-0000-0004-0000,8,30,1,Sebereflexe/vnitřní život
...,...,...,...,...,...,...
917,1675_0001-0005-0000-0028-0000,0001-0005-0000-0028-0000,1675,14,1,Příroda
918,1675_0001-0005-0000-0042-0000,0001-0005-0000-0042-0000,1675,30,1,Sebereflexe/vnitřní život
919,1675_0001-0007-0001-0003-0000,0001-0007-0001-0003-0000,1675,12,1,Politika/společnost
920,1675_0001-0007-0001-0003-0000,0001-0007-0001-0003-0000,1675,26,1,Město
921,1675_0001-0007-0001-0013-0000,0001-0007-0001-0013-0000,1675,17,1,Smrt/umírání/stáří

In [7]:
annotations_lemmas = pd.merge(lemmas, annotations_1, on='book_poem_id', how='left')
annotations_lemmas

,book_poem_id,lemmas,poem_id,book_id,id_topic,value,name
0,1_0001-0000-0000-0001-0000,"[('tvůj', 'P'), ('loď', 'N'), ('jít', 'V'), ('...",NaN,NaN,NaN,NaN,NaN
1,1_0001-0001-0000-0001-0000,"[('už', 'D'), ('míza', 'N'), ('naplňovat', 'V'...",NaN,NaN,NaN,NaN,NaN
2,1_0001-0001-0000-0002-0000,"[('už', 'D'), ('jaro', 'N'), ('výskat', 'V'), ...",NaN,NaN,NaN,NaN,NaN
3,1_0001-0001-0000-0003-0000,"[('teď', 'D'), ('slunce', 'N'), ('projít', 'V'...",NaN,NaN,NaN,NaN,NaN
4,1_0001-0001-0000-0004-0000,"[('skála', 'N'), ('nebetyčný', 'A'), ('shluk',...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
66501,1689_0001-0000-0000-0026-0000,"[('u', 'R'), ('altán', 'N'), ('bílý', 'A'), ('...",NaN,NaN,NaN,NaN,NaN
66502,1689_0001-0000-0000-0027-0000,"[('nad', 'R'), ('tůně', 'N'), ('honit', 'V'), ...",NaN,NaN,NaN,NaN,NaN
66503,1689_0001-0000-0000-0028-0000,"[('podle', 'R'), ('cesta', 'N'), ('hloh', 'N')...",NaN,NaN,NaN,NaN,NaN
66504,1689_0001-0000-0000-0029-0000,"[('na', 'R'), ('lesní', 'A'), ('stráň', 'N'), ...",NaN,NaN,NaN,NaN,NaN
66505,1689_0001-0000-0000-0030-0000,"[('lučina', 'N'), ('potůček', 'N'), ('ubíhat',...",NaN,NaN,NaN,NaN,NaN

# Filter the data

- Filter out all POS but Nouns (N), Adjectives (A) and Verbs (V)

- Filter out frequent (stop)words that does not carry any extra semantic information

In [8]:
stopwords = ['mít', 'jít', 'být', 'dát', 'moci', 'chtít']

In [9]:
%%time

lemmas_filtered_column = []

# extract lemmas with N, A or V POS tag
for index, poem in annotations_lemmas.iterrows():
    if index % 1000 == 0:
        print(index, end=' ')
    
    lemmas_filtered_poem = []
    lemmas_poem = literal_eval(poem['lemmas'])
    for lemma_pos in lemmas_poem:
        lemma, pos = lemma_pos
        if pos in ['N', 'A', 'V'] and lemma not in stopwords:
            lemmas_filtered_poem.append(lemma)
    lemmas_filtered_column.append(lemmas_filtered_poem)

0 1000 2000 3000 4000 5000 6000 7000 8000 9000 10000 11000 12000 13000 14000 15000 16000 17000 18000 19000 20000 21000 22000 23000 24000 25000 26000 27000 28000 29000 30000 31000 32000 33000 34000 35000 36000 37000 38000 39000 40000 41000 42000 43000 44000 45000 46000 47000 48000 49000 50000 51000 52000 53000 54000 55000 56000 57000 58000 59000 60000 61000 62000 63000 64000 65000 66000 CPU times: user 1min 52s, sys: 1.28 s, total: 1min 53s
Wall time: 1min 54s

In [10]:
annotations_lemmas['lemmas_filtered'] = lemmas_filtered_column
annotations_lemmas

,book_poem_id,lemmas,poem_id,book_id,id_topic,value,name,lemmas_filtered
0,1_0001-0000-0000-0001-0000,"[('tvůj', 'P'), ('loď', 'N'), ('jít', 'V'), ('...",NaN,NaN,NaN,NaN,NaN,"[loď, vysoký, moře, brázda, stříbro, rej, přij..."
1,1_0001-0001-0000-0001-0000,"[('už', 'D'), ('míza', 'N'), ('naplňovat', 'V'...",NaN,NaN,NaN,NaN,NaN,"[míza, naplňovat, stonek, přijít, modrý, anemo..."
2,1_0001-0001-0000-0002-0000,"[('už', 'D'), ('jaro', 'N'), ('výskat', 'V'), ...",NaN,NaN,NaN,NaN,NaN,"[jaro, výskat, potkání, kos, pět, zelený, strá..."
3,1_0001-0001-0000-0003-0000,"[('teď', 'D'), ('slunce', 'N'), ('projít', 'V'...",NaN,NaN,NaN,NaN,NaN,"[slunce, projít, poledník, znamení, mžik, stro..."
4,1_0001-0001-0000-0004-0000,"[('skála', 'N'), ('nebetyčný', 'A'), ('shluk',...",NaN,NaN,NaN,NaN,NaN,"[skála, nebetyčný, shluk, řada, vystupovat, pá..."
...,...,...,...,...,...,...,...,...
66501,1689_0001-0000-0000-0026-0000,"[('u', 'R'), ('altán', 'N'), ('bílý', 'A'), ('...",NaN,NaN,NaN,NaN,NaN,"[altán, bílý, jasmín, opojivý, vůně, dýchat, z..."
66502,1689_0001-0000-0000-0027-0000,"[('nad', 'R'), ('tůně', 'N'), ('honit', 'V'), ...",NaN,NaN,NaN,NaN,NaN,"[tůně, honit, černý, mrak, rok, voda, klonit, ..."
66503,1689_0001-0000-0000-0028-0000,"[('podle', 'R'), ('cesta', 'N'), ('hloh', 'N')...",NaN,NaN,NaN,NaN,NaN,"[cesta, hloh, keř, sladkohořký, vůně, duch, ňa..."
66504,1689_0001-0000-0000-0029-0000,"[('na', 'R'), ('lesní', 'A'), ('stráň', 'N'), ...",NaN,NaN,NaN,NaN,NaN,"[lesní, stráň, zalitý, slunce, rosa, třpytit, ..."
66505,1689_0001-0000-0000-0030-0000,"[('lučina', 'N'), ('potůček', 'N'), ('ubíhat',...",NaN,NaN,NaN,NaN,NaN,"[lučina, potůček, ubíhat, spěch, zlato, blatou..."

In [11]:
def c_tf_idf(documents, m, ngram_range=(1, 1)):    
    count = CountVectorizer(ngram_range=ngram_range, stop_words="english").fit(documents)
    t = count.transform(documents).toarray()
    w = t.sum(axis=1)
    tf = np.divide(t.T, w)
    sum_t = t.sum(axis=0)
    idf = np.log(np.divide(m, sum_t)).reshape(-1, 1)
    tf_idf = np.multiply(tf, idf)
    
    return tf_idf, count


def extract_top_n_words_per_cluster(tf_idf, count, docs_per_cluster, groupby, n=20):
    words = count.get_feature_names_out()
    labels = list(docs_per_cluster[groupby])
    tf_idf_transposed = tf_idf.T
    indices = tf_idf_transposed.argsort()[:, -n:]
    top_n_words = {label: [(words[j], tf_idf_transposed[i][j]) for j in indices[i]][::-1] for i, label in enumerate(labels)}
    return top_n_words


def extract_topic_sizes(df, groupby):
    topic_sizes = (df.groupby([groupby])
                     .preprocessed_text
                     .count()
                     .reset_index()
                     .rename({"preprocessed_text": "size"}, axis='columns')
                     .sort_values("size", ascending=False))
    return topic_sizes

In [12]:
annotations_lemmas = annotations_lemmas.drop(['name'], axis=1)

In [13]:
annotations_lemmas.head(1)

,book_poem_id,lemmas,poem_id,book_id,id_topic,value,lemmas_filtered
0,1_0001-0000-0000-0001-0000,"[('tvůj', 'P'), ('loď', 'N'), ('jít', 'V'), ('...",NaN,NaN,NaN,NaN,"[loď, vysoký, moře, brázda, stříbro, rej, přij..."

# TFIDF classification

In [14]:
data = pd.DataFrame()
data = annotations_lemmas[['book_poem_id', 'id_topic', 'lemmas_filtered']]
data['preprocessed_text'] = annotations_lemmas['lemmas_filtered'].apply(lambda x: ' '.join(x))
data

,book_poem_id,id_topic,lemmas_filtered,preprocessed_text
0,1_0001-0000-0000-0001-0000,NaN,"[loď, vysoký, moře, brázda, stříbro, rej, přij...",loď vysoký moře brázda stříbro rej přijít modr...
1,1_0001-0001-0000-0001-0000,NaN,"[míza, naplňovat, stonek, přijít, modrý, anemo...",míza naplňovat stonek přijít modrý anemonka me...
2,1_0001-0001-0000-0002-0000,NaN,"[jaro, výskat, potkání, kos, pět, zelený, strá...",jaro výskat potkání kos pět zelený stráň mlíčí...
3,1_0001-0001-0000-0003-0000,NaN,"[slunce, projít, poledník, znamení, mžik, stro...",slunce projít poledník znamení mžik stroj hvěz...
4,1_0001-0001-0000-0004-0000,NaN,"[skála, nebetyčný, shluk, řada, vystupovat, pá...",skála nebetyčný shluk řada vystupovat pásmo le...
...,...,...,...,...
66501,1689_0001-0000-0000-0026-0000,NaN,"[altán, bílý, jasmín, opojivý, vůně, dýchat, z...",altán bílý jasmín opojivý vůně dýchat zkolébáv...
66502,1689_0001-0000-0000-0027-0000,NaN,"[tůně, honit, černý, mrak, rok, voda, klonit, ...",tůně honit černý mrak rok voda klonit leknínov...
66503,1689_0001-0000-0000-0028-0000,NaN,"[cesta, hloh, keř, sladkohořký, vůně, duch, ňa...",cesta hloh keř sladkohořký vůně duch ňadro div...
66504,1689_0001-0000-0000-0029-0000,NaN,"[lesní, stráň, zalitý, slunce, rosa, třpytit, ...",lesní stráň zalitý slunce rosa třpytit růžový ...
66505,1689_0001-0000-0000-0030-0000,NaN,"[lučina, potůček, ubíhat, spěch, zlato, blatou...",lučina potůček ubíhat spěch zlato blatouch oví...

In [15]:
X_train2 = data[data['id_topic'].notnull()]
X_rest = data[~data['id_topic'].notnull()]

In [16]:
X = X_train2[['preprocessed_text']].copy()
y = X_train2[['id_topic']].copy()

In [17]:
X_rest2 = X_rest[['preprocessed_text']].copy()
y_rest2 = X_rest[['id_topic']].copy()

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

In [19]:
print(len(X_train), len(X_test))

645 277

In [20]:
y.value_counts()

id_topic
25.0        171
30.0        111
9.0          85
14.0         85
17.0         77
12.0         64
20.0         64
28.0         51
16.0         37
29.0         32
1.0          29
13.0         16
4.0          16
2.0          15
26.0         13
24.0          9
19.0          9
15.0          8
21.0          8
23.0          8
22.0          4
27.0          4
3.0           4
18.0          2
dtype: int64

# Scores of annotated data

In [21]:
X_train2

,book_poem_id,id_topic,lemmas_filtered,preprocessed_text
47,2_0001-0000-0000-0005-0000,13.0,"[chuť, práce, milý, dítě, bůh, práce, síla, ďá...",chuť práce milý dítě bůh práce síla ďáblův pad...
50,2_0001-0000-0000-0008-0000,9.0,"[truchlit, rána, bolný, lidský, zloba, usoudit...",truchlit rána bolný lidský zloba usoudit ruka ...
139,3_0001-0003-0000-0012-0000,9.0,"[srdce, Páně, velechrám, svatý, skvít, záře, k...",srdce Páně velechrám svatý skvít záře kříž zna...
279,7_0001-0000-0000-0065-0000,20.0,"[lid, chránit, stánek, chudý, slavíček, smutný...",lid chránit stánek chudý slavíček smutný hlas ...
303,8_0001-0000-0000-0004-0000,30.0,"[plout, loď, daleký, vodní, pláň, modrý, dálka...",plout loď daleký vodní pláň modrý dálka štěstí...
...,...,...,...,...
66297,1675_0001-0005-0000-0028-0000,14.0,"[duše, rozjásaný, slavný, zachytit, zář, korun...",duše rozjásaný slavný zachytit zář koruna habr...
66311,1675_0001-0005-0000-0042-0000,30.0,"[smutný, srdce, zatoulat, bledý, soumrak, vůně...",smutný srdce zatoulat bledý soumrak vůně jeseň...
66337,1675_0001-0007-0001-0003-0000,12.0,"[nalíčený, žena, zrak, hořet, tmít, obočí, šíj...",nalíčený žena zrak hořet tmít obočí šíj rána n...
66338,1675_0001-0007-0001-0003-0000,26.0,"[nalíčený, žena, zrak, hořet, tmít, obočí, šíj...",nalíčený žena zrak hořet tmít obočí šíj rána n...
66348,1675_0001-0007-0001-0013-0000,17.0,"[den, plynout, den, rok, rok, vítat, člověk, l...",den plynout den rok rok vítat člověk lid zahoř...

In [86]:
# Create the library
min_frequency = 20
dictionary = Dictionary(X_train2['lemmas_filtered'])
# Filter out words
dictionary.filter_extremes(no_below=min_frequency)

In [87]:
from collections import Counter

# create word frequency count
word_counts = Counter(word for row in X_train2['lemmas_filtered'] for word in row)

# filter lists based on word frequency count
X_train2['lemmas_filtered_a'] = X_train2['lemmas_filtered'].apply(lambda x: [word for word in x if word_counts[word] >= 20])

In [88]:
X_train2['preprocessed_text'] = X_train2['lemmas_filtered_a'].apply(lambda x: ' '.join(x))

In [89]:
# merge documents in cluster into one document
docs_per_cluster = X_train2.groupby(['id_topic'], as_index = False).agg({'preprocessed_text': ' '.join})

In [90]:
docs_per_cluster

    id_topic                                  preprocessed_text
0        1.0  děcko hoch pustý ticho noc smrt stát sklonit k...
1        2.0  sedět hučet sníh padat vzpomínat cos šeptat hl...
2        3.0  země dávný hlubina žena slza smutek vracet pís...
3        4.0  oř oř mladý hoch stráň kráčet divný myšlénka h...
4        9.0  rána lidský zloba ruka pán jmout rána hlas vol...
5       12.0  rok studený rok horký stát moudrost osud čin v...
6       13.0  práce milý dítě bůh práce síla padat práce prá...
7       14.0  klín noc mladý den celý spánek vstát spící zem...
8       15.0  černý pták rok držet tvář bít hruď zrak tělo r...
9       16.0  hvězda hořet cítit život naděje kalný voda hoř...
10      17.0  žena zima žlutý tráva matka země dávat pěkný b...
11      18.0  čest čest psát dít lidstvo rozumět svět nadšen...
12      19.0  hora čnít nebe hrad brát brána stát hrad klid ...
13      20.0  lid chránit chudý smutný hlas zaznít západ rud...
14      21.0  táta rána táta starý vědět vést zmar ležet tát...
15      22.0  duch spět dík duch pět svatý vstát svatý služb...
16      23.0  jaro dít básník noha chvíle svěží zeleň svěží ...
17      24.0  bolest nést srdce žena hrůza třást dítě dítě d...
18      25.0  mladý hoch vzít svět láska láska sen zřít okno...
19      26.0  povědět dítě jaro nový ulice smích hlava den z...
20      27.0  stráň dlaň nízký krok dítě hledět krýt láska o...
21      28.0  Čech bratr slavný hodný čas smrt živý probudit...
22      29.0  dálka rozumět země země král víra věrný stát v...
23      30.0  plout loď daleký pláň modrý dálka štěstí zpíva...

In [91]:
tf_idf, count = c_tf_idf(docs_per_cluster.preprocessed_text.values, m=len(X_train2))

In [92]:
top_n_words = extract_top_n_words_per_cluster(tf_idf, count, docs_per_cluster, 'id_topic', n=10)

In [93]:
topic_sizes = extract_topic_sizes(X_train2, 'id_topic')
topic_sizes

    id_topic  size
18      25.0   171
23      30.0   111
4        9.0    85
7       14.0    85
10      17.0    77
5       12.0    64
13      20.0    64
21      28.0    51
9       16.0    37
22      29.0    32
0        1.0    29
6       13.0    16
3        4.0    16
1        2.0    15
19      26.0    13
17      24.0     9
12      19.0     9
8       15.0     8
14      21.0     8
16      23.0     8
15      22.0     4
20      27.0     4
2        3.0     4
11      18.0     2

In [94]:
topics = []

for i in top_n_words:
    words_topic = []
    for word in top_n_words[i]:
        words_topic.append(word[0])
    topics.append(words_topic)

In [95]:
cm = CoherenceModel(topics=topics, topn=10, dictionary=dictionary, texts=X_train2['lemmas_filtered_a'], coherence='c_v')
coherence = cm.get_coherence()
coherence

0.4302181309505948

In [96]:
from utils import topic_diversity

topic_diversity(topics, 10)

0.8458333333333333

In [97]:
top_n_words

{1.0: [('matka', 0.04037930037061493),
  ('táta', 0.03376806058779616),
  ('dítě', 0.023939725488320247),
  ('máma', 0.02317174471126696),
  ('syn', 0.02058511187019645),
  ('děcko', 0.02021411140813173),
  ('zpívat', 0.019780078032076487),
  ('říci', 0.01769962622408931),
  ('čelo', 0.017183563492242364),
  ('boží', 0.017078879613977343)],
 2.0: [('domov', 0.02758365904337707),
  ('přítel', 0.026777374781291923),
  ('zahrada', 0.02471080919864803),
  ('okno', 0.024304112990243758),
  ('sníh', 0.02403623762358073),
  ('chata', 0.023069068797671528),
  ('vidět', 0.022603872969002098),
  ('nízký', 0.02254793374180246),
  ('střecha', 0.02254793374180246),
  ('najít', 0.019813170175064083)],
 3.0: [('hlubina', 0.0890782567577381),
  ('písek', 0.0881098440872867),
  ('celý', 0.053750622810089944),
  ('moře', 0.05076199010101059),
  ('touha', 0.04953737427040881),
  ('rovný', 0.04669163933127371),
  ('uzřít', 0.04669163933127371),
  ('ruch', 0.04611731815059602),
  ('pohár', 0.04556853095836351),
  ('čechy', 0.04504310361985985)],
 4.0: [('bledý', 0.05860794844398814),
  ('tvář', 0.04767404847913386),
  ('bída', 0.0470368639329432),
  ('chudý', 0.025694780260578257),
  ('hlad', 0.0220046644419483),
  ('oř', 0.019053011515532344),
  ('pomsta', 0.018594715403664707),
  ('šero', 0.018353414471841613),
  ('šedý', 0.018106432650977118),
  ('práce', 0.016636567332032667)],
 9.0: [('svatý', 0.018694937850882526),
  ('bůh', 0.018078627783500292),
  ('otec', 0.016619842412169128),
  ('matka', 0.015694568523354206),
  ('boží', 0.01390859783237912),
  ('kříž', 0.013129805634281155),
  ('nebe', 0.012728906313105562),
  ('pravda', 0.01252499086293224),
  ('věčný', 0.012195201740917948),
  ('anděl', 0.011192797780018849)],
 12.0: [('pán', 0.018302144577316548),
  ('pes', 0.017051666177622167),
  ('čas', 0.01614956028773849),
  ('lidský', 0.015904942925547217),
  ('hřích', 0.014696153110290823),
  ('velký', 0.01420130114833373),
  ('žena', 0.014147166360273697),
  ('víra', 0.012942170990632024),
  ('tvář', 0.01270642734324597),
  ('zvát', 0.012673213505764782)],
 13.0: [('práce', 0.09882369921421898),
  ('muž', 0.026235884893291875),
  ('chléb', 0.026166242879641508),
  ('prostý', 0.025978532859009657),
  ('dlaň', 0.023148510817489646),
  ('chudý', 0.02180440562190859),
  ('dům', 0.021656256290515718),
  ('pánbůh', 0.01910629900250675),
  ('síla', 0.01896271086507917),
  ('táhnout', 0.018556094899292615)],
 14.0: [('les', 0.018739801369552854),
  ('strom', 0.017296116591623438),
  ('vůně', 0.015829090730525668),
  ('slunce', 0.015384805245407387),
  ('jaro', 0.014488386163430527),
  ('kraj', 0.013419072824755213),
  ('sníh', 0.012988904091549396),
  ('květ', 0.012922759853552387),
  ('háj', 0.012778600616776463),
  ('větev', 0.012304484455932092)],
 15.0: [('blesk', 0.04397489702173731),
  ('rudý', 0.03580754550599895),
  ('lidský', 0.028908944820062923),
  ('svoboda', 0.02663443062055065),
  ('člověk', 0.0263079901366368),
  ('oheň', 0.025392046326553192),
  ('svět', 0.025247353236797665),
  ('vítězství', 0.02507048839059247),
  ('čistý', 0.024516960126699756),
  ('síla', 0.024301844221466112)],
 16.0: [('marný', 0.016909142622771788),
  ('hvězda', 0.016057648615704273),
  ('noc', 0.014882646960664093),
  ('jaro', 0.01449858781542562),
  ('žití', 0.014225993657455005),
  ('touha', 0.014166989436920283),
  ('život', 0.014020215407934706),
  ('bolet', 0.013568245952604986),
  ('říci', 0.012921400133175465),
  ('těžký', 0.01282258068931021)],
 17.0: [('hrob', 0.021345172197048675),
  ('rakev', 0.01696136589202495),
  ('smrt', 0.014633199611186564),
  ('mrtvý', 0.012649573128020689),
  ('znít', 0.011969462945387527),
  ('slyšet', 0.01165303374865488),
  ('zlatý', 0.011493725661168207),
  ('hřbitov', 0.011364003131512613),
  ('hrad', 0.010625113025521772),
  ('mladý', 0.01048150645523918)],
 18.0: [('nos', 0.5462056420448912),
  ('rozum', 0.06341149661805409),
  ('dobrý', 0.049119426458974935),
  ('hodný', 0.045379489291677906),
  ('nosit', 0.044411425881160566),
  ('čest', 0.040792783460383446),
  ('chodit', 0.03666065683180438),
  ('muset', 0.034310602585144984),
  ('dlouhý', 0.030134948738531828),
  ('peruť', 0.029839467711574977)],
 19.0: [('máma', 0.03982643622249008),
  ('hoch', 0.036884954764093904),
  ('pomsta', 0.03295581256810218),
  ('stařec', 0.03000722607818631),
  ('chránit', 0.0280148729414523),
  ('host', 0.027579246475653796),
  ('tmavý', 0.026766998455959812),
  ('hlučný', 0.025652765290196),
  ('kmet', 0.023895861733494048),
  ('mladý', 0.023624332908878932)],
 20.0: [('píseň', 0.01900995224088744),
  ('básník', 0.018578464478278694),
  ('zazpívat', 0.014733261866848433),
  ('pěvec', 0.014733261866848433),
  ('zvuk', 0.01353027186723333),
  ('říše', 0.013503722942127894),
  ('hvězda', 0.01149085168496174),
  ('svět', 0.01147295855321778),
  ('starý', 0.011450187374998888),
  ('slovo', 0.011250536855638777)],
 21.0: [('paní', 0.05762772958624318),
  ('pán', 0.0575272733462812),
  ('tanec', 0.054922049462402915),
  ('pan', 0.0535555952716599),
  ('táta', 0.04066691167562549),
  ('vítězství', 0.040166696453744925),
  ('rána', 0.039412297916141564),
  ('král', 0.03737688198394964),
  ('hra', 0.03647911848463922),
  ('dílo', 0.03428988240677643)],
 22.0: [('mluva', 0.13270255388888316),
  ('duch', 0.07220848733162216),
  ('slovo', 0.069696308240195),
  ('kruh', 0.06400862093348506),
  ('národ', 0.05365954924920089),
  ('jazyk', 0.044804829824591844),
  ('točit', 0.04423418462962772),
  ('moudrost', 0.04423418462962772),
  ('škoda', 0.04423418462962772),
  ('víra', 0.043556838626366834)],
 23.0: [('lampa', 0.0394216455107706),
  ('jizba', 0.031183687121441442),
  ('anděl', 0.03076251667819376),
  ('nechat', 0.02874621231170854),
  ('spánek', 0.027483994110362137),
  ('vina', 0.027256060374617166),
  ('bujný', 0.027256060374617166),
  ('hrát', 0.027166882815570115),
  ('mdlý', 0.027034047670315794),
  ('ptát', 0.026003039227678063)],
 24.0: [('moc', 0.02234288070725826),
  ('hledat', 0.02090768510479755),
  ('anděl', 0.019824314603511646),
  ('drahý', 0.019032982139243308),
  ('plakat', 0.018524945877741183),
  ('děsit', 0.01851663542635579),
  ('žena', 0.017716184937494925),
  ('hoch', 0.0173363802073587),
  ('lampa', 0.016936349540122984),
  ('vášeň', 0.016823793021119183)],
 25.0: [('láska', 0.016446579014034436),
  ('sladký', 0.014707541353684477),
  ('růže', 0.012806926977852637),
  ('milý', 0.012557925053129148),
  ('oko', 0.012323692260449149),
  ('vědět', 0.011930220421538167),
  ('krásný', 0.011256139741804883),
  ('květ', 0.011230448527461018),
  ('ruka', 0.01117177084511003),
  ('ret', 0.011070811078792875)],
 26.0: [('město', 0.04070065248693295),
  ('ulice', 0.03472827892674359),
  ('hluk', 0.030618875165559657),
  ('park', 0.02392453372595835),
  ('věnec', 0.021450473193883147),
  ('věž', 0.021450473193883147),
  ('dav', 0.01965838575126229),
  ('jas', 0.018854436098197813),
  ('silný', 0.018600112061474612),
  ('jeseň', 0.018600112061474612)],
 27.0: [('hlučný', 0.06604849913797592),
  ('tmavý', 0.05168799701840515),
  ('tichý', 0.04593635600584581),
  ('lůžko', 0.04403233275865061),
  ('krb', 0.04293681345055492),
  ('klid', 0.04258338615287935),
  ('hovor', 0.042425873650890164),
  ('nízký', 0.04146746435274015),
  ('ležet', 0.04110162012183237),
  ('poslouchat', 0.04058285468450879)],
 28.0: [('český', 0.03632142574229977),
  ('vlast', 0.03513410587102499),
  ('národ', 0.03249756451404729),
  ('čech', 0.030653451078630316),
  ('právo', 0.023376308284161394),
  ('lid', 0.020859072211829928),
  ('řeč', 0.020099391670362263),
  ('krev', 0.01746657296044004),
  ('čin', 0.016995689584481062),
  ('hora', 0.015589318049627775)],
 29.0: [('děva', 0.027431905925421142),
  ('věk', 0.020576804567472767),
  ('bůh', 0.018380159148657645),
  ('země', 0.01786316939931773),
  ('řím', 0.017456464832363194),
  ('sláva', 0.017000373808560478),
  ('král', 0.015417963818379224),
  ('lid', 0.01537996107784695),
  ('smět', 0.015331626832555203),
  ('psát', 0.013389131857429187)],
 30.0: [('skála', 0.015192190296518545),
  ('žít', 0.013851702917413966),
  ('vlna', 0.013176442047163442),
  ('moře', 0.012795812857412419),
  ('žití', 0.012419705666093498),
  ('život', 0.012401108636212523),
  ('myšlenka', 0.011908975757042271),
  ('chvíle', 0.011544888885139982),
  ('duše', 0.011475627823284457),
  ('mlha', 0.011195491470376552)]}

# Oversampling

In [33]:
# Apply random oversampling to the minority class
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=RANDOM_STATE)
X_train_sampled, y_train_sampled = ros.fit_resample(X_train, y_train)

In [34]:
y_train_sampled.value_counts()

id_topic
1.0         120
2.0         120
29.0        120
28.0        120
27.0        120
26.0        120
25.0        120
24.0        120
23.0        120
22.0        120
21.0        120
20.0        120
19.0        120
18.0        120
17.0        120
16.0        120
15.0        120
14.0        120
13.0        120
12.0        120
9.0         120
4.0         120
3.0         120
30.0        120
dtype: int64

# Encode target variable

In [35]:
X_train = X_train_sampled
y_train = y_train_sampled

In [36]:
# Encoding of target variable - convert text labels into numbers
encoder = LabelEncoder()
encoder_fitted = encoder.fit(y_train)

In [37]:
y_train = encoder_fitted.transform(y_train)
y_test = encoder_fitted.transform(y_test)

In [38]:
encoder_fitted.classes_

array([ 1.,  2.,  3.,  4.,  9., 12., 13., 14., 15., 16., 17., 18., 19.,
       20., 21., 22., 23., 24., 25., 26., 27., 28., 29., 30.])

In [39]:
encoder_fitted.transform([ 1,  2,  3,  4,  9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 27, 28, 29, 30])

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

# Vectorization

In [40]:
vectorizer_tfidf = TfidfVectorizer()  # good for SVM
#vectorizer_count = CountVectorizer()  # good for Naive Bayes

vectorizer_fitted_tfidf = vectorizer_tfidf.fit(X_rest2['preprocessed_text'])
#vectorizer_fitted_count = vectorizer_count.fit(X_train['preprocessed_text'])

In [41]:
train_X_encodings_tfidf = vectorizer_fitted_tfidf.transform(X_train['preprocessed_text'])
test_X_encodings_tfidf = vectorizer_fitted_tfidf.transform(X_test['preprocessed_text'])
rest_X_encodings_tfidf = vectorizer_fitted_tfidf.transform(X_rest2['preprocessed_text'])

#train_X_encodings_count = vectorizer_fitted_count.transform(X_train['preprocessed_text'])
#test_X_encodings_count = vectorizer_fitted_count.transform(X_test['preprocessed_text'])

In [42]:
train_X_encodings_tfidf

<2880x64161 sparse matrix of type '<class 'numpy.float64'>'
	with 190042 stored elements in Compressed Sparse Row format>

In [43]:
#train_X_embeddings_word = X_train['embedding_word'].to_list()
#test_X_embeddings_word = X_test['embedding_word'].to_list()

# ML

In [44]:
f1_macro_scorer = make_scorer(f1_score, average='macro')

In [45]:
scoring = 'accuracy'

In [46]:
# Create k-fold cross-validation object
kfold = KFold(n_splits=5, shuffle=True, random_state=RANDOM_STATE)

# The best model

In [47]:
# MANUALLY pick the best performing model
model_svm = MLPClassifier(activation= 'logistic', alpha=0.01, random_state=RANDOM_STATE) #probability=True
# train your model on the entire training set
model_svm.fit(train_X_encodings_tfidf, y_train)

MLPClassifier(activation='logistic', alpha=0.01, random_state=42)

In [48]:
# predict labels for the test set
y_pred = model_svm.predict(test_X_encodings_tfidf)

In [49]:
#print(classification_report(y_test, y_pred, labels=encoder_fitted.classes_))

In [50]:
accuracy_score(y_true=y_test, y_pred=y_pred)

0.30685920577617326

In [51]:
f1_score(y_true=y_test, y_pred=y_pred, average='macro')

0.12412276030522258

In [52]:
# on all set
y_pred_rest = model_svm.predict(rest_X_encodings_tfidf)

In [53]:
y_pred_rest

array([18, 18,  7, ..., 18,  7,  7])

In [54]:
X_rest['predicted_label'] = y_pred_rest

In [55]:
X_rest

,book_poem_id,id_topic,lemmas_filtered,preprocessed_text,predicted_label
0,1_0001-0000-0000-0001-0000,NaN,"[loď, vysoký, moře, brázda, stříbro, rej, přij...",loď vysoký moře brázda stříbro rej přijít modr...,18
1,1_0001-0001-0000-0001-0000,NaN,"[míza, naplňovat, stonek, přijít, modrý, anemo...",míza naplňovat stonek přijít modrý anemonka me...,18
2,1_0001-0001-0000-0002-0000,NaN,"[jaro, výskat, potkání, kos, pět, zelený, strá...",jaro výskat potkání kos pět zelený stráň mlíčí...,7
3,1_0001-0001-0000-0003-0000,NaN,"[slunce, projít, poledník, znamení, mžik, stro...",slunce projít poledník znamení mžik stroj hvěz...,23
4,1_0001-0001-0000-0004-0000,NaN,"[skála, nebetyčný, shluk, řada, vystupovat, pá...",skála nebetyčný shluk řada vystupovat pásmo le...,7
...,...,...,...,...,...
66501,1689_0001-0000-0000-0026-0000,NaN,"[altán, bílý, jasmín, opojivý, vůně, dýchat, z...",altán bílý jasmín opojivý vůně dýchat zkolébáv...,18
66502,1689_0001-0000-0000-0027-0000,NaN,"[tůně, honit, černý, mrak, rok, voda, klonit, ...",tůně honit černý mrak rok voda klonit leknínov...,23
66503,1689_0001-0000-0000-0028-0000,NaN,"[cesta, hloh, keř, sladkohořký, vůně, duch, ňa...",cesta hloh keř sladkohořký vůně duch ňadro div...,18
66504,1689_0001-0000-0000-0029-0000,NaN,"[lesní, stráň, zalitý, slunce, rosa, třpytit, ...",lesní stráň zalitý slunce rosa třpytit růžový ...,7
66505,1689_0001-0000-0000-0030-0000,NaN,"[lučina, potůček, ubíhat, spěch, zlato, blatou...",lučina potůček ubíhat spěch zlato blatouch oví...,7

In [ ]:
# Create the dictionary
min_frequency = 10
dictionary = Dictionary(X_rest['lemmas_filtered'])
# Filter out words
dictionary.filter_extremes(no_below=min_frequency)

In [74]:
from collections import Counter

# create word frequency count
word_counts = Counter(word for row in X_rest['lemmas_filtered'] for word in row)

# filter lists based on word frequency count
X_rest['lemmas_filtered_a'] = X_rest['lemmas_filtered'].apply(lambda x: [word for word in x if word_counts[word] >= 20])

In [75]:
X_rest['lemmas_filtered_a'] = X_rest['lemmas_filtered_a'].apply(lambda x: ' '.join(x))

In [76]:
mapping = dict(zip(encoder_fitted.transform(encoder_fitted.classes_), encoder_fitted.classes_))

In [77]:
X_rest.predicted_label.replace(mapping, inplace=True)

In [78]:
X_rest

,book_poem_id,id_topic,lemmas_filtered,preprocessed_text,predicted_label,lemmas_filtered_a
0,1_0001-0000-0000-0001-0000,NaN,"[loď, vysoký, moře, brázda, stříbro, rej, přij...",loď vysoký moře brázda stříbro rej přijít modr...,25,loď vysoký moře brázda stříbro rej přijít modr...
1,1_0001-0001-0000-0001-0000,NaN,"[míza, naplňovat, stonek, přijít, modrý, anemo...",míza naplňovat stonek přijít modrý anemonka me...,25,míza naplňovat stonek přijít modrý anemonka me...
2,1_0001-0001-0000-0002-0000,NaN,"[jaro, výskat, potkání, kos, pět, zelený, strá...",jaro výskat potkání kos pět zelený stráň mlíčí...,21,jaro výskat potkání kos pět zelený stráň pozla...
3,1_0001-0001-0000-0003-0000,NaN,"[slunce, projít, poledník, znamení, mžik, stro...",slunce projít poledník znamení mžik stroj hvěz...,30,slunce projít znamení mžik stroj hvězdárna hlá...
4,1_0001-0001-0000-0004-0000,NaN,"[skála, nebetyčný, shluk, řada, vystupovat, pá...",skála nebetyčný shluk řada vystupovat pásmo le...,21,skála nebetyčný shluk řada vystupovat pásmo le...
...,...,...,...,...,...,...
66501,1689_0001-0000-0000-0026-0000,NaN,"[altán, bílý, jasmín, opojivý, vůně, dýchat, z...",altán bílý jasmín opojivý vůně dýchat zkolébáv...,25,altán bílý jasmín opojivý vůně dýchat sladký k...
66502,1689_0001-0000-0000-0027-0000,NaN,"[tůně, honit, černý, mrak, rok, voda, klonit, ...",tůně honit černý mrak rok voda klonit leknínov...,30,tůně honit černý mrak rok voda klonit leknínov...
66503,1689_0001-0000-0000-0028-0000,NaN,"[cesta, hloh, keř, sladkohořký, vůně, duch, ňa...",cesta hloh keř sladkohořký vůně duch ňadro div...,25,cesta hloh keř vůně duch ňadro divý vášeň srdc...
66504,1689_0001-0000-0000-0029-0000,NaN,"[lesní, stráň, zalitý, slunce, rosa, třpytit, ...",lesní stráň zalitý slunce rosa třpytit růžový ...,21,lesní stráň zalitý slunce rosa třpytit růžový ...
66505,1689_0001-0000-0000-0030-0000,NaN,"[lučina, potůček, ubíhat, spěch, zlato, blatou...",lučina potůček ubíhat spěch zlato blatouch oví...,21,lučina potůček ubíhat spěch zlato blatouch oví...

In [79]:
# merge documents in cluster into one document
docs_per_cluster = X_rest.groupby(['predicted_label'], as_index = False).agg({'preprocessed_text': ' '.join})
docs_per_cluster

    predicted_label                                  preprocessed_text
0                 2  dudy starý píseň nota známý chasa noha táta pa...
1                 3  domov domov chorál veleba hřímat ňadro zvedat ...
2                 9  berle strnulý noha vléci slabý noha děcko oko ...
3                16  klekání odzvonit spát říci bába sedět chalupa ...
4                19  bernardýn čistý krev přijít svět park široširý...
5                20  hoch práce otec dílo vést dílna začazený dřít ...
6                21  jaro výskat potkání kos pět zelený stráň mlíčí...
7                22  rachotit hrom skrýše oblak pár kapat vroucí mr...
8                23  Rek poutník zamlklý tajemství věčný hroužit zr...
9                24  síň vrazit celý uřícený pláč hořký běžet kuchy...
10               25  loď vysoký moře brázda stříbro rej přijít modr...
11               26  bít slepička nést vajíčko pan ministr ráčit pt...
12               27  ptáček pět strom vrchol znát svět šalba znát b...
13               28  dálný moře loďka plout křehký loďka život vlna...
14               29  ležet hřeb kladivo hlava vbitý bohatýr doubrav...
15               30  slunce projít poledník znamení mžik stroj hvěz...

In [80]:
tf_idf, count = c_tf_idf(docs_per_cluster.preprocessed_text.values, m=len(X_rest))

In [81]:
top_n_words = extract_top_n_words_per_cluster(tf_idf, count, docs_per_cluster, 'predicted_label', n=10)

In [82]:
topic_sizes = extract_topic_sizes(X_rest, 'predicted_label')
topic_sizes

    predicted_label   size
10               25  29273
15               30  10688
3                16   7443
6                21   4573
4                19   4111
12               27   3240
9                24   2958
13               28   2351
8                23    323
14               29    274
0                 2    254
5                20     45
2                 9     21
1                 3     14
11               26     10
7                22      6

In [83]:
top_n_words

{2: [('dítě', 0.04162754261256442),
  ('táta', 0.037025541681604934),
  ('hoch', 0.02176017384990982),
  ('matka', 0.019237393003240306),
  ('matička', 0.01247697355142294),
  ('otec', 0.010802720675758317),
  ('letět', 0.010408886345447127),
  ('dcerka', 0.01029386744460883),
  ('hrát', 0.0099427447326541),
  ('děcko', 0.009690663605657391)],
 3: [('domov', 0.35908261360580435),
  ('vlast', 0.04683428125585237),
  ('český', 0.036997329387882194),
  ('drahý', 0.030572598696591582),
  ('polétávat', 0.025207400002977016),
  ('poutník', 0.021504931234452376),
  ('čin', 0.020727117883900303),
  ('křen', 0.020568999788701404),
  ('krásný', 0.02004834082879479),
  ('ráj', 0.01826726549405279)],
 9: [('bída', 0.061008704030531595),
  ('panský', 0.03275299656668598),
  ('vácslav', 0.022898429936253878),
  ('občan', 0.0223410554310705),
  ('vrata', 0.019752172687004455),
  ('pole', 0.017564073054422265),
  ('mlýn', 0.01690913460516466),
  ('dvůr', 0.016061407354478644),
  ('děd', 0.01588529908323153),
  ('moře', 0.014162950106386614)],
 16: [('bůh', 0.007215903201749008),
  ('svatý', 0.0063646385690213315),
  ('otec', 0.005625168595523106),
  ('boží', 0.005139870246685145),
  ('matka', 0.004873563624530654),
  ('duch', 0.004786664471284578),
  ('syn', 0.0047830340423692585),
  ('pán', 0.004698024067940125),
  ('nebe', 0.004639145097702895),
  ('lid', 0.004539966569499638)],
 19: [('pán', 0.011320671968707927),
  ('bratr', 0.007540279130375252),
  ('čas', 0.0061550309963670875),
  ('král', 0.005895883709168515),
  ('pan', 0.005890068895663917),
  ('člověk', 0.005817935291812735),
  ('stát', 0.005408737101062186),
  ('žena', 0.005338177835553976),
  ('lid', 0.005221283637108895),
  ('čert', 0.0052060609351310926)],
 20: [('práce', 0.08215936500824178),
  ('dům', 0.044769338907314916),
  ('pole', 0.02574071218651363),
  ('pluh', 0.01852654503458842),
  ('pracovat', 0.01749863843532062),
  ('zrní', 0.017314556295911727),
  ('pot', 0.014669863841644098),
  ('dlaň', 0.013575164971809045),
  ('továrna', 0.013260938043317442),
  ('chléb', 0.01247303563393975)],
 21: [('les', 0.012204447168901997),
  ('strom', 0.01150144573486913),
  ('slunce', 0.009998461188837461),
  ('jaro', 0.009924491747913558),
  ('květ', 0.008992440048706345),
  ('vůně', 0.00790409177972911),
  ('země', 0.007192092983548491),
  ('píseň', 0.006724833603816674),
  ('vítr', 0.006668569856434143),
  ('kraj', 0.006560909033490121)],
 22: [('vlajka', 0.20153953138874348),
  ('vytahovat', 0.08600176186174556),
  ('dout', 0.06567861265398478),
  ('racek', 0.0515487740281894),
  ('vítr', 0.04758318573768857),
  ('tíživý', 0.045122415755595176),
  ('revoluční', 0.04142873962818231),
  ('lhát', 0.04012185640110484),
  ('vichr', 0.03985663029014378),
  ('kormidlo', 0.038708948672454814)],
 23: [('říci', 0.012266576559375277),
  ('život', 0.008534566759720823),
  ('hvězda', 0.007875324285420437),
  ('tma', 0.007722091590704615),
  ('chvíle', 0.007461426940377415),
  ('smutný', 0.00719170896009867),
  ('spát', 0.007002506846848903),
  ('celý', 0.006978627220008693),
  ('vědět', 0.00675803060835678),
  ('člověk', 0.006634253852151485)],
 24: [('hrob', 0.014984790592014092),
  ('mrtvý', 0.010715015497954955),
  ('rakev', 0.01019802765129963),
  ('smrt', 0.007825734386798108),
  ('rok', 0.0074830008428617145),
  ('dítě', 0.007410882984981033),
  ('hřbitov', 0.0068950115849530395),
  ('matka', 0.0063324890439967856),
  ('den', 0.006004254463959169),
  ('matička', 0.0059472156619366735)],
 25: [('láska', 0.00606297292134524),
  ('oko', 0.005437900802948143),
  ('bílý', 0.005177856438263021),
  ('krásný', 0.005074330980745185),
  ('rád', 0.004873924846370938),
  ('sladký', 0.004775021515402508),
  ('květ', 0.004724668100016561),
  ('růže', 0.004694150904329998),
  ('vědět', 0.004633476365917432),
  ('zlatý', 0.004596545322203682)],
 26: [('kočár', 0.05684124210210819),
  ('alej', 0.04939027068268513),
  ('lokaj', 0.03836456972752028),
  ('vajíčko', 0.035833076046222725),
  ('hřmít', 0.027763922944689955),
  ('erb', 0.027703907556081517),
  ('peněžník', 0.02651617164903172),
  ('proud', 0.02544194345203529),
  ('jamka', 0.022522553842559915),
  ('rozkypělý', 0.022223541513762032)],
 27: [('píseň', 0.01587896928189508),
  ('básník', 0.014762598995919581),
  ('verš', 0.011350294932539666),
  ('psát', 0.011263438744069784),
  ('kniha', 0.00865463156860162),
  ('člověk', 0.006349470500514815),
  ('číst', 0.006129758051044151),
  ('dobrý', 0.006100295186816831),
  ('svět', 0.0060409479192417995),
  ('umění', 0.005580768037445321)],
 28: [('český', 0.02016534338686564),
  ('vlast', 0.018255374157402828),
  ('národ', 0.014527117880183333),
  ('čech', 0.012228600121952149),
  ('lid', 0.009619870457236909),
  ('sláva', 0.009517564351084789),
  ('svoboda', 0.00726718459986635),
  ('boj', 0.006992138490686302),
  ('krev', 0.006969539277357064),
  ('vrah', 0.006229827495097942)],
 29: [('král', 0.034053004222769696),
  ('papež', 0.014081387385943602),
  ('lid', 0.013569229356646425),
  ('řím', 0.011917141104804987),
  ('vojsko', 0.008401864434649043),
  ('maďarský', 0.008237876575764488),
  ('sláva', 0.007810743236850856),
  ('město', 0.007301921937449635),
  ('voj', 0.007286952256785658),
  ('němec', 0.007208329257090178)],
 30: [('život', 0.0069711348303191775),
  ('sen', 0.006548996809277585),
  ('moře', 0.006279975615486095),
  ('žití', 0.006082545631298271),
  ('noc', 0.0060576701979921125),
  ('vlna', 0.005808717834503566),
  ('člověk', 0.005584912022320428),
  ('duše', 0.0052471578584454715),
  ('žít', 0.005108439487695559),
  ('stín', 0.005046753865983681)]}

In [72]:
df_topics = pd.read_csv('../data/list_of_topics.csv')
df_topics

    id_topic                             name
0          1    Dětství/mateřství/rodičovství
1          2                            Domov
2          3           Exotika/cestovatelství
3          4                    Chudoba/útisk
4          9                 Náboženství/víra
5         11                  Pokrok/technika
6         12              Politika/společnost
7         13                            Práce
8         14                          Příroda
9         15              Revoluce/Osvobození
10        16                  Samota/odcizení
11        17               Smrt/umírání/stáří
12        18                       Tělo/sport
13        19                  Tradice/folklor
14        20  Umění/literatura, poezie/tvorba
15        21                            Válka
16        22                   Vzdělání/škola
17        23                 Zábava/volný čas
18        24                     Zločin/trest
19        25             Láska/milostný vztah
20        26                            Město
21        27                           Venkov
22        28                      Národ/vlast
23        29                         Historie
24        30        Sebereflexe/vnitřní život

In [68]:
#for i in [k for k in top_n_words]:
#    print(i, df_topics[df_topics.id_topic == i].reset_index(drop=True).name[0])
#    word_cloud(top_n_words, i)

In [84]:
topics = []

for i in top_n_words:
    words_topic = []
    for word in top_n_words[i]:
        words_topic.append(word[0])
    topics.append(words_topic)
    
topics[2]

['bída',
 'panský',
 'vácslav',
 'občan',
 'vrata',
 'pole',
 'mlýn',
 'dvůr',
 'děd',
 'moře']

In [70]:
cm = CoherenceModel(topics=topics, topn=10, dictionary=dictionary, texts=X_rest['lemmas_filtered'], coherence='c_v')
coherence = cm.get_coherence()
coherence

0.4503500177057682

In [71]:
topic_diversity(topics, 10)

0.8714285714285714